body{
    font-family: 'Cabin', sans-serif;
}

.logo{
    font-family: 'Lobster', cursive;
}

nav{
    color: white!important;
}

.bg-dark {
    background-color: #660066!important;
}

div h3{
    color: #373A3C;
    text-align: center;
}
h2{
    font-size: 40px;
    color: white;
}

.footerleter{
    font-size: 30px;
    color: white;

}

#margentop{
    margin-top: 150px;
}

.carousel-indicators {
    margin-bottom: -50px;
  }
  
  .carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }

.newsleter{
    background-color: whitesmoke;
    padding-top: 200px;
    padding-bottom: 200px;
}

footer h1{
    color: white;
    text-align: center;
}

.margenprincipal{
    margin-top: 250px;
}

.enlinea{
    display: inline-block;
    text-align: left;
}

.productoprincipal{
    font-size: 60px;
    font-weight: 700;
    text-align: left;
}

.ancho{
    padding-top: 150px;
}

.pizzadetails{
    display: inline-block;
    vertical-align: left;
}

.margen{
    margin-top: 150px;
}

div img{
    border-radius: 2px;
}

.boton{
    border-color: #DDDDDD;
    border: 1pt 1pt 1pt 1pt;
}

.colorboton{
    background-color: #DC3545;
    color: white;
    border-color: #DDDDDD;
    border: 1pt 1pt 1pt 1pt;
}

.hr{
   color: black; 
}

.dev{
    width: 50%;
    height: 220px;
}

.food img{
    width: 100%;
}
img {
    width: 100%;
}

.centrandotext{
    text-align: center;
}

.sectioncolor{
    background-color: #660066;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 160px;
}

h2{
    text-align: center;
}

p{
    text-align: left;
}
.evento{
    width: 30%;
    display: inline-block;
    text-align: center;
}

.evento img{
    width: 65%;
    padding-bottom: 10px;
    text-align: center;
}

.mistrabajos{
    text-align: center;
    background-color: #660066;
    padding-bottom: -20px;
}




